@import "tailwindcss";

/* Define your theme vars */
:root {
  --background: #ffffff;  /* light mode */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode override */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712; /* Tailwind gray-950 */
    --foreground: #ededed;
  }
}

/* Apply globally */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.shadow-inner-top {
  box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.7);
}

